<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EvilBank - Profilo</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container mt-5">
    <h1>Benvenuto, {{ username }}</h1>
    <p><strong>Saldo:</strong> {{ balance }}$</p>
    <p>{{flag}}</p>


    <!-- Form vulnerabile al CSRF: il trasferimento avviene con una richiesta GET -->
    <form method="GET" action="/transfer" class="mb-4">
        <input type="hidden" name="accountName" value="{{ username }}">
        <input type="hidden" name="amount" value="1000">
        <button type="submit" class="btn btn-danger">Compra 1000$</button>
    </form>

    <hr>

    <h3>Hai qualche suggerimento?</h3>
    <p>Se ci invii un link tramite il form sottostante, il nostro admin visiterà tra poco! (inserisci soltanto il percorso relativo da visitare, es. /path?params, il server fa concatenazione localhost:80 + l'input inserito)</p>
    <form method="POST" action="/contact" class="mb-4">
        <div class="mb-3">
            <input type="text" class="form-control" name="message" placeholder="Inserisci il tuo messaggio (es. URL)" required>
        </div>
        <button type="submit" class="btn btn-primary">Invia</button>
    </form>

    <a href="/logout" class="btn btn-secondary">Logout</a>
</div>
</body>
</html>
