<!DOCTYPE html>
<html lang="it">
<head>
    <title>Profilo</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="text-center">
    <div class="container mt-5">
        <h1>Benvenuto, {{ username }}!</h1>
        {% if is_admin %}
            <p class="text-danger">Sei ADMIN! 🎉</p>
            <p class="bg-dark text-light p-3">FLAG: {{ flag }}</p>
        {% else %}
            <p>Questa volta ho firmato e codificato il cookie così non puoi modificarlo! Ma come viene calcolata la firma? 🙃</p>
        {% endif %}
        <a href="/logout" class="btn btn-danger">Logout</a>
    </div>
</body>
</html>
